.logo-img {
    position: absolute;
    width: 326px;
    height: 82px;
    left: 168px;
    top: 60px;
}

.cart-icon {
    font-size: 20px;
    position: relative;
    top: 80px;
}

.cart-text {
    position: relative;
    left: 40px;
    bottom: -30px;
}

.contact-icon {
    font-size: 20px;
    position: relative;
    left: 350px;
    bottom: 15px;
}

.contact-text {
    position: relative;
    left: 400px;
    bottom: 64px;
}

.sign-icon {
    font-size: 20px;
    position: relative;
    left: 500px;
    bottom: 109px;
}

.sign-text {
    position: relative;
    left: 540px;
    bottom: 158px;
}

.about-icon {
    font-size: 20px;
    position: relative;
    left: 150px;
    bottom: 198px;
}

.about-text {
    position: relative;
    left: 200px;
    bottom: 245px;
}

.three-lines {
    display: none;
}

@media screen and (max-width:500px) {
    .logo-img {
        /* position: relative; */
        left: 7px;
        top: 2px;
    }

    .three-lines {
        display: block;
        position: relative;
        left: 464px;
        top: 27px;
    }

    .navbar {
        display: none;
    }

    .three-lines:hover .navbar {
        display: inline;
    }
}